.actions{
    text-decoration: none;
    cursor: pointer;
    padding-left: 50px;
    color: white;
    font-size: 25px;
    text-shadow: 0px 10px 10px black;
}
.actions:hover{
    color: lightgreen;
}